@tailwind base;
@tailwind components;
@tailwind utilities;

#customSliderLeft::-webkit-slider-thumb {
    pointer-events:auto;
    width:25px;
    height:25px;
    border-radius:50%;
    -webkit-appearance:none;
    @apply bg-color-orange;
}
#customSliderRight::-webkit-slider-thumb {
    pointer-events:auto;
    width:100px;
    height: 50px;
    -webkit-appearance:none;
    background-image: url('/images/car.png');
    background-size: cover;
    background-position: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    
    100% {
        opacity: 1;
        transform: translateY(-10px);
    }
}

.animate-fadeIn {
    animation: fadeIn 0.2s cubic-bezier(0.4, 0, 1, 1) forwards;
}